.github-issue-comment {
  *padding-top: 19px;
  padding: 39px 19px 14px;
}
.gref-taggable {
  position: relative;
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.github-issue-comment:before,.gref-taggable:after {
  position: absolute;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.github-issue-comment:before {
  content: attr(data-author);
  top: -1px;
  left: -1px;
  padding: 1px 5px;
  font-size: 12px;
}
.gref-taggable:before {
}
.gref-taggable:after {
  content: attr(data-hash);
  bottom: -1px;
  right: -1px;
  padding: 0px 5px;
  font-size: 10px;
}

.new-comment {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.gref-taggable[data-signature]:after {
  background-color: #dff0d8 !important;
}
.gref-taggable[data-invalid-signature]:after {
  background-color: #f2dede !important;
}

#active-channel {
  color: #cccccc;
}
