<!doctype html>
<html>
  <head>
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/underscore-1.4.4.js"></script>
    <script src="/static/backbone-0.9.9.js"></script>
    <script src="/static/groundstation.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <title>groundstation.js</title>
    <script>
      $(document).ready(function() {
        groundstation_channels.reset({{channels_json|safe}});
        _.each(groundstation_channels.models, function(channel) {
          new ChannelTab({
            model: channel,
            id: channel.attributes["name"]
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">groundstation</a>
          <ul class="nav">
            <li class="">
            <a href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav" id="channels-content">
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
