<!doctype html>
<html>
  <head>
    <script src="/static/vendor/jquery-1.7.2.min.js"></script>
    <script src="/static/vendor/underscore-1.4.4.js"></script>
    <script src="/static/vendor/backbone-0.9.9.js"></script>
    <script src="/static/vendor/bootstrap-dropdown.js"></script>
    <script src="/static/vendor/bootstrap-modal.js"></script>
    <script src="/static/vendor/bootstrap-affix.js"></script>
    <script src="/static/vendor/d3.js"></script>
    <script src="/static/airship.js?bust={{current_time}}"></script>
    <script src="/static/vendor/markdown.js"></script>
    <link rel="stylesheet" href="/static/vendor/bootstrap.css">
    <link rel="stylesheet" href="/static/groundstation.css">
    <title>airship.js</title>
    <script>
      var groundstation = new Groundstation();
      $(document).ready(function() {
        groundstation.channels.reset({{channels_json|safe}});
        init_airship(groundstation);
      });
    </script>
    <script src="/static/airship-gref-validation.js"></script>
    <!-- For stupid reasons, load order matters. -->
    <script src="/static/protocol/github.js?bust={{current_time}}"></script>
    <script src="/static/protocol/jira.js?bust={{current_time}}"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <a class="navbar-brand" href="/">groundstation</a>
      <ul class="nav pull-right">
        <li class="disabled"> <a id="active-channel"> ...  </a> </li>
        <li class="divider"></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Channels
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="channels-content">
        </ul>
        <li class="">
        <a id="current-user-name" href="#">richo</a>
        </li>
      </ul>
    </div>
    <!-- <div class="navbar navbar-inverse"> -->
    <!--   <div class="navbar-inner"> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- gref selector -->
    <div class="container-fluid" style="display: none;" id="gref-container">
      <div class="span3">
        <div class="sidebar-nav">
          <ul class="nav nav-list" style="text-shadow: none;" id="current-grefs">
              <li class="nav-header">grefs<span class="pull-right"><input id="gref-autoupdate" type="checkbox"><label for="gref-autoupdate">autoupdate</label></input><a id="new-gref">New</a></span></li>
          </ul>
        </div>
      </div>
      <div class="span7" id="gref-content">
      </div>
      <div class="span2" id="gref-graph-span">
          <div id="gref-graph" data-spy="affix">
          </div>
      </div>
    </div>


    <div class="modal" id="new-gref-modal">
      <!-- Modal -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h6 id="new-gref-name" class="modal-name" contenteditable>GrefName</h6>
          </div>
          <div class="modal-header">
            <h4 id="new-gref-title" class="modal-title" contenteditable>Gref Title</h4>
          </div>
          <div class="modal-body">
              <textarea id="new-gref-body" rows="7"></textarea>
          </div>
          <div class="modal-footer">
            <a id="new-gref-cancel" href="#" class="btn">Close</a>
            <a id="new-gref-create" href="#" class="btn btn-primary">Save changes</a>
          </div>
          <div class="hidden" id="new-gref-protocol">richo@psych0tik.net:github:0.0.0</div>
        </div>
      </div>
    </div><!-- /.modal -->



  </body>
</html>
