<!doctype html>
<html>
  <head>
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/underscore-1.4.4.js"></script>
    <script src="/static/backbone-0.9.9.js"></script>
    <script src="/static/bootstrap-dropdown.js"></script>
    <script src="/static/airship.js?bust={{current_time}}"></script>
    <script src="/static/protocol/github.js?bust={{current_time}}"></script>
    <script src="/static/markdown.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/groundstation.css">
    <title>airship.js</title>
    <script>
      var groundstation = new Groundstation();
      $(document).ready(function() {
        groundstation.channels.reset({{channels_json|safe}});
        init_airship(groundstation);
      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <a class="navbar-brand" href="/">groundstation</a>
      <ul class="nav">
        <li class="">
        <a href="/">Home</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Channels
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="channels-content">
        </ul>
        <li class="">
        <a id="current-user-name" href="#">richo</a>
        </li>
      </ul>
    </div>
    <!-- <div class="navbar navbar-inverse"> -->
    <!--   <div class="navbar-inner"> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- gref selector -->
    <div class="container-fluid" style="display: none;" id="gref-container">
      <div class="span3">
        <div class="sidebar-nav">
          <ul class="nav nav-list" style="text-shadow: none;" id="current-grefs">
            <li class="nav-header">grefs</li>
          </ul>
        </div>
      </div>
      <div class="span9" id="gref-content">
      </div>
    </div>
  </body>
</html>
